@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.w-270 {
    width: 270px;
    margin: 0 auto;
}
.w-530 {
    width: 650px;
    margin: 0 auto;
    text-align: center;
}
.title {
    font-size: 40px;
}
.title-sub {
    color: #616368;

}
.header {
    margin-top: 92px;
    
    display: flex;
    justify-content: space-between;
}
.header ul li {
    display: inline-block;
    padding: 0 15px
}
.header p {
    display: inline-block;
}
.header_try {
    background-color: blue;
    color: #fff;
    padding: 15px 20px;
    outline: none;
    border-radius: 20px;
    border: none;
}
.header_logo {
    color: #fcae61;
    font-size: 30px;
}
.header_logo span {
    color: #000;
    font-size: 30px;
    font-weight: bold;
}
.firtScreen{
    
    background-image: url(/images/new.png);
    background-repeat: no-repeat;
    background-position: bottom;
    
    
}
.intro_content {
    width: 100%;
    margin: 30px 55px;
}
.firtTag {
    color: #000;
    padding: 5px 45px;
    background-color: #e2eaed;
    border-radius: 20px;
    display: inline-block;
    position: relative;
    
}

.intro_icon {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px 10px;
    background-color: #feaa25;
    text-align: center;
    border-radius: 50%;
}
.intro_icon i {
    font-size: 18px;
    transform: translateY(2px);
}
.intro_title {
    font-size: 60px;
    line-height: 70px;
    margin: 10px 0;

}
.intro_more {
    color: #616368;
    width: 482px;
    margin-bottom: 48px;
}
.intro_content {
    margin-top: 45%;
   
}
.intro_img {
   display: flex!important;
   justify-content: center;
   margin-bottom: 40px;
   
}
.intro_img img {
   transform: translateX(50px);
  

}
.intro_btn a {
    color: blue;
    margin-left: 32px;
}
.featureApp {

    
    margin: 120px 0;
}
.featureApp .title {
    display: flex;
    justify-content: center;
    margin-top: 110px;
    margin-bottom: 40px;

}

.listCompany {
    margin: 0 180px  120px;
}
.listCN {
    margin-top: 95px;

}
.listCN-element {
    display: flex;
    margin-bottom: 65px;
}
.listCN-element img {
    width: 50px;
    height: 50px;
    margin:  20px  ;

}

.contentTitle {
    font-size: 36px;
}
.listCN-contentTitle_red {
    font-size: 20px;
    color: red;
}
.listCN-contentTitle_blue {
    color: #2563ff;
    font-size: 20px;

}
.listCN-contentTitle_green {
    font-size: 20px;
    color: #40975f;

}
.desrApp {
    margin-bottom: 70px;
}
.desrApp-title p{
    color: #616368;
}
.listCNhorizon {
    margin-top: 130px;
}
.mar-55 {
    margin:0 55px;

}
.bgIcon img{
    object-position: center;
    border-radius: 50%;
    padding: 10px;  
}
.smartJackpost h1{
    font-size: 40px;
}
.smartJackpost p{
    color: #616368
}
.bgAward {
    background-color: #eaf9ff;
}
.bgComputer {
    background-color: #fff6d3;
}
.bgFix {
    background-color: #e4ffee;
}
.bgUi {
    background-color: #f4f4ff;
}
.bgCust {
    background-color: #fdeee4;
}
.bgRed {
    background-color: #ffecef;
}
.bgGreen {
    background-color: #e4ffee;
}
.bgBlue {
    background-color: #f4f4ff;
}
.bannerApp {
    margin-top: 115px;
}
.bannerApp-content {
    margin-left: 10%;
}
.bannerApp-content h1 {
    font-size: 40px;
  
}
.bannerApp-content p {
    margin-bottom: 45px;
    color: #616368

}
.whyChoose {
    margin-top: 210px;
    width: 1170px;
}
.whyChoose-header {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.bgWrap {
    text-align: center;
    margin-top: 80px;
}
.freequentlyTitle {
    margin: 0 auto;
    text-align: center;
}
.freequentlyQ {
    text-align: left;
    width: 940px;
    background-color: #f5f7fa;

    margin: 70px auto;
    margin-bottom: 0;
    padding: 50px;
}
.freequentlyQA {
    margin-bottom: 110px;
}
.freequently-wrap {
    margin: 0 auto;
    border-bottom: 2px solid #f4f4f4;
}
.freequentlyQA b {
    font-size:  20px;
    
}
.freequentlyQ p {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.freequentlyA    {
    
    text-align: left;
    width: 940px;
    background-color: #f5f7fa;
    
    margin: 10px auto;
    padding: 20px 50px;
}
.freequentlyA-element {
    display: flex;
    justify-content: space-between;
}
.charAdd {
    font-size: 21px;
    
}
.dowloadAt {
    margin-top: 100px;
}
.imgDowload {
    width: 180px;
    height: 60px;
    margin: 10px ;
}

.imgSmart3 img {
    margin-top: 10px;
    width: 100%;
}
.footer {
    background-color: #09142e;
    padding: 100px 0;
}
.footerContent {
    text-align: center;


}
.menu, .social {
    margin: 50px 0;
}
.menu ul li, .social ul li {
    display: inline;
    margin: 0 20px;

}
.Copyright, .menu ul li a {
    color: #fff;
}
.social i {
    color: #ffff;
    font-size: 30px;
}
.logo .whiteColor {
    color: #ffff;
}